@mixin constructor(
  $mc-ns,
  $mc-convention,
  $mc-designation,
  $mc-i,
  $mc-interval,
  $mc-start,
  $mc-impf,
  $mc-property,
  $mc-location,
  $mc-multiplier,
  $mc-imp,
  $mc-secondary: null,
  $mc-size: null,
  $mc-direction: null){
  .#{$mc-ns}#{$mc-size}#{$mc-direction}-#{$mc-convention}-#{$mc-designation}-#{($mc-i * $mc-interval) + $mc-start}#{$mc-impf} {
     #{$mc-property}#{$mc-location}: #{(($mc-i * $mc-interval) + $mc-start) * $mc-multiplier}px#{$mc-imp};
    @if $mc-secondary {
      #{$mc-property}#{$mc-secondary}: #{(($mc-i * $mc-interval) + $mc-start) * $mc-multiplier}px#{$mc-imp}
    }
  }
}

@mixin media(
  $mc-ns,
  $mc-convention,
  $mc-designation,
  $mc-i,
  $mc-interval,
  $mc-start,
  $mc-impf,
  $mc-property,
  $mc-location,
  $mc-multiplier,
  $mc-imp,
  $mm-min,
  $mm-max,
  $mc-secondary: null,
  $mc-size: null,
  $mc-direction: null){
    @if $mm-min and $mm-max {
    @for $i from 0 through 2 {
      $mc-direction: null; // Reset
      @if $i == 0 {
      $string: 'min-width: ' + #{$mm-min};
      $mc-direction: '-' + $up;
      } @else if $i == 1 {
        $string: 'min-width: ' + #{$mm-min} + ') and (max-width: ' +  #{$mm-max};
      } @else if $i == 2 {
        $string: 'max-width: ' +  #{$mm-max};
        $mc-direction: '-' + $dn;
      }
      @media (#{$string}) {
        @include constructor(
          $mc-ns,
          $mc-convention,
          $mc-designation,
          $mc-i,
          $mc-interval,
          $mc-start,
          $mc-impf,
          $mc-property,
          $mc-location,
          $mc-multiplier,
          $mc-imp,
          $mc-secondary,
          $mc-size,
          $mc-direction)
        }
    }
  }
}
