$ns: 'ac' !default; // Name Space
$up: 'u' !default; // Up
$dn: 'd' !default; // Down

$interval: 5 !default; // Global step interval

$start: 0 !default; // Global start point
$limit: 20 !default; // Global limit

$real: $limit / $interval; // Calculate real number for iterating

$bp-xs: 480px !default;
$bp-xs-mn: $bp-xs;
$bp-xs-mx: $bp-xs-mn - 1;

$bp-sm: 768px !default;
$bp-sm-mn: $bp-sm;
$bp-sm-mx: $bp-sm-mn - 1;

$bp-md: 992px !default;
$bp-md-mn: $bp-md;
$bp-md-mx: $bp-md-mn - 1;

$bp-lg: 1200px !default;
$bp-lg-mn: $bp-lg;
$bp-lg-mx: $bp-lg-mn - 1;

$breaks: xs $bp-xs-mn $bp-xs-mx, sm $bp-sm-mn $bp-sm-mx, md $bp-md-mn $bp-md-mx, lg $bp-lg-mn $bp-lg-mx;
